/* font family definition
 * - add the needed fonts here
 */

 @font-face {
  font-family: "ClanWebBook";
  src: url("../../../../fonts/ClanWeb-Book.woff") format("truetype");
}

@font-face {
  font-family: "ClanWebMedium";
  src: url("../../../../fonts/ClanWeb-Medium.woff") format("truetype");
}
