/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.flatmir-footer {
  position: relative;
  padding-top: 0px;
  margin-top: 0px;
  border: none;
  background-color: #4F4F4F;
  .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }
}

.internal_links {
  &.navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
}
.logo-section {
  margin-bottom: 1rem;
}


// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  .logo-section {
    flex-direction: column;
  }
}
