/*
 *  header settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

header {

  background-image: url("../../../../images/sp_h_05_b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e6eaea;
}

// logo and menu container
#header_box {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
.project-logo__link {
  display: inline-block;
  margin: 5px 0 20px 0;
  text-decoration: none;
  .fid.logo.main {
    font-size: 44px;
    margin-top: 0rem;
    margin-bottom: 0rem;

  }
  .fid.logo.sub {
    font-size: 20px;
    line-height: 1.1;
    padding-left: 0px;
    margin-top: 0rem;
  }
  .fid.logo {
    color: #023263;
    display: inline-block;
    line-height: initial;
    width: 100%;
  }
  .fid.logo.hr{
    border-top-width: 3px;
    height: 4px;
    width: 165px;
    border-color: #038abb;
    margin: 0px 0px 0px 1px;
    text-align: left;
  }
}

.project_logo_box {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 0rem;
  .project_parent_logo {
    .sbb-logo {
      height: 50px;
    }
  }
}

#options_nav_box {
  float: none;
  .navbar-nav {
    justify-content: flex-end;
  }
}
.searchBox {

  float: none;
  .form-control {
    border-radius: 0;
    border-color: black;
    &:focus {
      box-shadow: none;
    }
  }
  .btn {
    border-color: transparent;
    padding-left: 10px;
  }
  .btn:not(:first-child) {
    margin-left: 0;
  }
}
.searchfield_box {
  flex-wrap: nowrap;
  .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .btn {
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  .project_logo_box {
    flex-direction: column;
    .project_parent_logo {
      align-self: flex-end;
    }
  }
}
