/*  layout settings
 *  - styles for basic layout elements
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

body > section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.mir-start_page > section {
  background-image: url('../../../../images/background-document-world-xl.jpg');
}

#page {
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgba(255,255,255,0.95);
  border-radius: 0.5rem;
}

.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}


// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  .container-no-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}