// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  - you can't use bootstrap variables here,
//    they are unknown here and has to be set first
//
//  TODO: set bootstrap variables in mir variables,
//        if they are needed there (with !default)
//        so you can overwrite that rules here if you like,
//        at the momen you have to set some bs variables,
//        even if you don't need them

//  Brand colors
// -------------------------

// from website

$logoBlue:          #038abb;  // logo border
$linkBlue:          #337ab7;  // link
$linkHoverBlue:     #23527c;  // link hover
$logoFontBlue:      #114152;
$lightGray:         #ddd;     // table back
$menuFontGray:      rgba(222, 222, 222, 1); // menu font color
$footerGray:        #9d9d9d;  // footer text
$contrastGray:      rgba(158, 158, 158, 0.4); // sub menu hover
$darkGray:          rgba(60, 60, 60, 0.9); // navbar
$darkContrastGray:  rgba(51, 51, 51, 0.9); // navbar active
$fontBlack:         #333333;  // fontColor

$headerYellow:      #fcebbf;  // header image color pick

$statusGreen:       #66cc00; // access level
$statusYellow:      #ffcc00;
$statusRed:         #ff3300;

// own colors

// from genarator by given primary

// bs variables
$primary:   $linkBlue;
$secondary: $darkGray;
$success:   $statusGreen;
$info:      $logoBlue;
$warning:   $statusYellow;
$danger:    $statusRed;

$link-color: $linkBlue;
$link-hover-color: $linkHoverBlue;

$btn-border-radius: 4px;

$web-font-path: "";
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-size-base: 1rem;

$pagination-bg: $primary;
$pagination-hover-bg: lighten($pagination-bg, 10%);
$pagination-disabled-bg: $footerGray;

// project variables

// keep deprecated variables alive
$brand-primary: $primary;
$brand-success: $success;
$brand-info:    $info;
$brand-warning: $warning;
$brand-danger:  $danger;

// --------------------------------------------------
//  Projects settings
// --------------------------------------------------

// typo
